html, body {
    margin: 0;
    padding: 0;
    padding-top: 50;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 50;
  }
  
  .gallery img {
    padding-top: 50;
    width: 100%;
    max-height: 200px; /* Or any height you like */
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer
  }
  
  .lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
  }
  
  .lightbox img {
    max-width: 90%;
    max-height: 80vh;
  }

  .header h1 {
    color: #fff;
    line-height: 100px; 
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase; 
  }
  